@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  height: 100%;
  font-family: "Space Mono", monospace;
  font-weight: 400;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  max-width: 730px;
}

button:hover {
  opacity: 0.7;
}

button {
  cursor: pointer;
}

:root {
  --html-bg: #F6F8FF;
  --logo: #222731;
  --site-btn: #697C9A;
  --site-input-pr: #4B6A9B;
  --site-input: #222731;
  --element: #FEFEFE;
  --user-name: #2B3442;
  --user-created: #697C9A;
  --user-sub: #F6F8FF;
  --site-btn-icon: url("../images/svg/moon.svg") center/contain no-repeat;
  --location: url("../images/svg/location.svg") center/contain no-repeat;
  --url: url("../images/svg/url.svg") center/contain no-repeat;
  --twitter: url("../images/svg/twitter.svg") center/contain no-repeat;
  --office: url("../images/svg/office-building.svg") center/contain no-repeat;
}

.dark {
  --html-bg: #141D2F;
  --logo: #FFFFFF;
  --site-btn: #FFFFFF;
  --site-input: #FFFFFF;
  --site-input-pr: #FFFFFF;
  --element: #1E2A47;
  --user-name: #FFFFFF;
  --user-created: #FFFFFF;
  --user-sub: #141D2F;
  --site-btn-icon: url("../images/svg/sun.svg") center/contain no-repeat;
  --location: url("../images/svg/location-dark.svg") center/contain no-repeat;
  --url: url("../images/svg/url-dark.svg") center/contain no-repeat;
  --twitter: url("../images/svg/twitter-dark.svg") center/contain no-repeat;
  --office: url("../images/svg/office-building-dark.svg") center/contain no-repeat;
}

html {
  background-color: var(--html-bg);
}

main {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  margin-bottom: 50px;
}

.site__nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.site__nav-logo {
  display: flex;
  color: var(--logo);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.5;
  font-family: "Space Mono", monospace;
}
.site__nav-btn {
  display: flex;
  border: none;
  background: none;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}
.site__nav-btn p {
  display: flex;
  color: var(--site-btn);
  font-weight: 700;
  font-size: 13px;
  line-height: 1.5;
  font-family: "Space Mono", monospace;
  text-transform: uppercase;
  letter-spacing: 2.5px;
}
.site__nav-btn span {
  display: flex;
  width: 20px;
  height: 20px;
  background: var(--site-btn-icon);
}

.site__search {
  padding: 36px 0 28px;
}
.site__search-form {
  display: flex;
  position: relative;
  width: 100%;
}
.site__search-form input {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 22px 120px 22px 80px;
  border: none;
  border-radius: 6px;
  background: var(--element);
  color: var(--site-input);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  font-family: "Space Mono", monospace;
}
.site__search-form input::-moz-placeholder {
  color: var(--site-input-pr);
}
.site__search-form input::placeholder {
  color: var(--site-input-pr);
}
.site__search-form input:focus, .site__search-form input-active {
  border: none;
  outline: none;
}
.site__search-form input:-webkit-autofill,
.site__search-form input:-webkit-autofill:hover,
.site__search-form input:-webkit-autofill:focus,
.site__search-form input:-webkit-autofill:active {
  background: none;
  background-color: none !important;
  color: #FFFFFF !important;
}
.site__search-form input:-moz-autofill,
.site__search-form input:-moz-autofill:hover,
.site__search-form input:-moz-autofill:focus,
.site__search-form input:-moz-autofill:active {
  background-color: none !important;
  color: #FFFFFF !important;
}
.site__search-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 32px;
  top: 50%;
  transform: translateY(-50%);
  background: url("../images/svg/lupa.svg") center/contain no-repeat;
}
.site__search-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 6px;
  padding: 12.5px 23px 13.5px 24px;
  background-color: #0079FF;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Space Mono", monospace;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.site__search .input-err {
  font-weight: 700;
  font-size: 15px;
  line-height: 1.5;
  font-family: "Space Mono", monospace;
  color: #F74646;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 140px;
  display: none;
}

.site__user .card {
  padding: 48px;
  background: var(--element);
  border-radius: 6px;
  display: flex;
  align-items: start;
  gap: 37px;
}
.site__user-avatar {
  display: flex;
  width: 117px;
  height: 117px;
  border-radius: 50%;
  flex-shrink: 0;
  overflow: hidden;
}
.site__user-avatar img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.site__user-info {
  width: 100%;
}
.site__user-info-hero {
  gap: 41px;
  align-items: center;
}
.site__user-info-hero .site__user-avatar {
  display: none;
}
.site__user-info-hero-user {
  display: flex;
  flex-direction: column;
}
.site__user-info-hero-user .w {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site__user-info-hero-user .w .user__name {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.5;
  font-family: "Space Mono", monospace;
  color: var(--user-name);
}
.site__user-info-hero-user .w .user__created_at {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.5;
  font-family: "Space Mono", monospace;
  color: var(--user-created);
}
.site__user-info-hero-user .user__login {
  padding-top: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Space Mono", monospace;
  color: #0079FF;
}
.site__user-info .user__bio {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.6;
  font-family: "Space Mono", monospace;
  color: var(--site-input-pr);
  text-align: justify;
  padding-top: 20px;
}
.site__user-info-subscription {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background: var(--user-sub);
  margin: 32px 0 37px;
  padding: 15px 32px 17px 32px;
  border-radius: 6px;
}
.site__user-info-subscription ul {
  display: flex;
  flex-direction: column;
  gap: 1px;
}
.site__user-info-subscription ul .subs-title {
  font-weight: 400;
  font-size: 13px;
  line-height: 1.5;
  font-family: "Space Mono", monospace;
  color: var(--site-input-pr);
}
.site__user-info-subscription ul .subs-num {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.5;
  font-family: "Space Mono", monospace;
  color: var(--user-name);
}
.site__user-info-links {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 30px;
}
.site__user-info-links ul {
  display: flex;
  flex-direction: column;
  gap: 19px;
}
.site__user-info-links ul li {
  display: flex;
  align-items: center;
  gap: 16px;
}
.site__user-info-links ul li .link-icon {
  display: flex;
  width: 20px;
  height: 20px;
}
.site__user-info-links ul li .location {
  background: var(--location);
}
.site__user-info-links ul li .url {
  background: var(--url);
}
.site__user-info-links ul li .twitter {
  background: var(--twitter);
}
.site__user-info-links ul li .office {
  background: var(--office);
}
.site__user-info-links ul li .link-text {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.5;
  font-family: "Space Mono", monospace;
  color: var(--site-input-pr);
}
.site__user-info-links ul li a:hover {
  text-decoration: underline;
}

.site__user-avatar {
  background-color: red;
}

.loop {
  display: flex !important;
}

@media (max-width: 575px) {
  .container {
    max-width: 575px;
  }
  .site__search .input-err {
    top: 120%;
    left: 10px;
    transform: translateY(0);
    margin-bottom: 24px;
  }
}
@media (max-width: 500px) {
  .container {
    max-width: 335px;
  }
  .site__search {
    padding: 36px 0 16px;
  }
  .site__search-icon {
    width: 20px;
    height: 20px;
    left: 16px;
  }
  .site__search-btn {
    right: 7px;
    padding: 12.5px 14px 12.5px 18px;
    font-size: 14px;
  }
  .site__search input {
    padding: 18px 98px 17px 45px;
    font-size: 13px;
    line-height: 25px;
  }
}
@media (max-width: 620px) {
  .container {
    max-width: 620px;
  }
  .site__search .input-err {
    top: 120%;
    left: 10px;
    transform: translateY(0);
    margin-bottom: 24px;
  }
}
@media (max-width: 700px) {
  .container {
    max-width: 700px;
  }
  .site__user .card {
    padding: 40px;
  }
  .site__user-avatar {
    display: none;
  }
  .site__user-info-hero {
    display: flex;
  }
  .site__user-info-hero .site__user-avatar {
    display: flex;
  }
  .site__user-info-hero-user .w {
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
  .site__user-info-subscription {
    margin: 32px 0 30px;
    width: 100%;
  }
}
@media (max-width: 530px) {
  .container {
    max-width: 530px;
  }
  .site__user-info-links {
    flex-direction: column;
  }
}
@media (max-width: 455px) {
  .container {
    max-width: 455px;
  }
  .site__user-avatar {
    width: 100px;
    height: 100px;
  }
  .site__user-info-hero-user .w .user__name {
    font-size: 20px;
  }
  .site__user-info-subscription {
    padding: 18px 14px 19px 15px;
    display: flex;
    align-items: start;
    justify-content: space-between;
  }
  .site__user-info-subscription ul {
    align-items: center;
  }
}
@media (max-width: 380px) {
  .container {
    min-width: 380px;
  }
  .subs-title {
    font-size: 12px;
  }
  .subs-num {
    font-size: 18px;
  }
}
@media (max-width: 331px) {
  .container {
    min-width: 330px;
  }
  .site__user .card {
    padding: 32px 24px 48px;
  }
  .site__user-info-hero {
    gap: 19px;
  }
  .site__user-info-hero .site__user-avatar {
    width: 70px;
    height: 70px;
  }
  .site__user-info-hero-user .user__name {
    font-size: 16px;
  }
  .site__user-info-hero-user .user__created_at {
    font-size: 13px;
  }
  .site__user-info-hero-user .user__login {
    font-size: 13px;
  }
  .site__user-info-hero .user__bio {
    font-size: 13px;
    width: 100%;
    padding-top: 33px;
  }
  .site__user-info-hero-subscription {
    margin: 23px 0 24px;
  }
  .site__user-info-hero-subscription ul {
    gap: 0;
  }
  .site__user-info-hero-subscription ul .subs-title {
    font-size: 11px;
  }
  .site__user-info-hero-subscription ul .subs-num {
    font-size: 16px;
  }
  .site__user-info-hero-links {
    gap: 16px;
  }
  .site__user-info-hero-links ul {
    gap: 16px;
  }
  .site__user-info-hero-links ul .link-text {
    font-size: 13px;
  }
}/*# sourceMappingURL=main.css.map */