@include media(575px) {
  .container {
    max-width: 575px;
  }
  .site__search {
    .input-err {
      top: 120%;
      left: 10px;
      transform: translateY(0);
      margin-bottom: 24px;
    }
  }
}

@include media(500px) {
  .container {
    max-width: 335px;
  }
  .site__search {
    padding: 36px 0 16px;
    &-icon {
      width: 20px;
      height: 20px;
      left: 16px;
    }
    &-btn {
      right: 7px;
      padding: 12.5px 14px 12.5px 18px;
      font-size: 14px;
    }
    input {
      padding: 18px 98px 17px 45px;
      font-size: 13px;
      line-height: 25px;
    }
  }
}

@include media(620px) {
  .container {
    max-width: 620px;
  }
  .site__search {
    .input-err {
      top: 120%;
      left: 10px;
      transform: translateY(0);
      margin-bottom: 24px;
    }
  }
}

@include media(700px) {
  .container {
    max-width: 700px;
  }
  .site__user {
    .card {
      padding: 40px;
    }
    &-avatar {
      display: none;
    }

    &-info {
      &-hero {
        display: flex;
        .site__user-avatar {
          display: flex;
        }
        &-user {
          .w {
            flex-direction: column;
            justify-content: start;
            align-items: start;
          }
        }
      }
      &-subscription {
        margin: 32px 0 30px;
        width: 100%;
      }
    }
  }
}

@include media(530px) {
  .container {
    max-width: 530px;
  }
  .site__user {
    &-info {
      &-links {
        flex-direction: column;
      }
    }
  }
}

@include media(455px) {
  .container {
    max-width: 455px;
  }
  .site__user-avatar {
    width: 100px;
    height: 100px;
  }
  .site__user-info-hero-user .w .user__name {
    font-size: 20px;
  }
  .site__user-info-subscription {
    padding: 18px 14px 19px 15px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    ul {
      align-items: center;
    }
  }
}

@include media(380px) {
  .container {
    min-width: 380px;
  }
  .subs-title {
    font-size: 12px;
  }
  .subs-num {
    font-size: 18px;
  }
}

@include media(331px) {
  .container {
    min-width: 330px;
  }
  .site__user {
    .card {
      padding: 32px 24px 48px;
    }
    &-info {
      &-hero {
        gap: 19px;
        .site__user-avatar {
          width: 70px;
          height: 70px;
        }
        &-user {
          .user__name {
            font-size: 16px;
          }
          .user__created_at {
            font-size: 13px;
          }
          .user__login {
            font-size: 13px;
          }
        }
        .user__bio {
          font-size: 13px;
          width: 100%;
          padding-top: 33px;
        }
        &-subscription {
          margin: 23px 0 24px;
          ul {
            gap: 0;
            .subs-title {
              font-size: 11px;
            }
            .subs-num {
              font-size: 16px;
            }
          }
        }
        &-links {
          gap: 16px;
          ul {
            gap: 16px;
            .link-text {
              font-size: 13px;
            }
          }
        }
      }
    }
  }
}
