$white: #FFFFFF;
$button: #0079FF;
$error:#F74646;

:root{
    --html-bg: #F6F8FF;
    --logo: #222731;
    --site-btn: #697C9A;
    --site-input-pr: #4B6A9B;
    --site-input: #222731;
    --element: #FEFEFE;
    --user-name: #2B3442;
    --user-created: #697C9A;
    --user-sub: #F6F8FF;

    --site-btn-icon: url("../images/svg/moon.svg") center/contain no-repeat;
    --location: url("../images/svg/location.svg") center/contain no-repeat;
    --url: url("../images/svg/url.svg") center/contain no-repeat;
    --twitter: url("../images/svg/twitter.svg") center/contain no-repeat;
    --office: url("../images/svg/office-building.svg") center/contain no-repeat;
}

.dark{
    --html-bg: #141D2F;
    --logo: #FFFFFF;
    --site-btn: #FFFFFF;
    --site-input: #FFFFFF;
    --site-input-pr: #FFFFFF;
    --element: #1E2A47;
    --user-name: #FFFFFF;
    --user-created: #FFFFFF;
    --user-sub: #141D2F;

    --site-btn-icon: url("../images/svg/sun.svg") center/contain no-repeat;
    --location: url("../images/svg/location-dark.svg") center/contain no-repeat;
    --url: url("../images/svg/url-dark.svg") center/contain no-repeat;
    --twitter: url("../images/svg/twitter-dark.svg") center/contain no-repeat;
    --office: url("../images/svg/office-building-dark.svg") center/contain no-repeat;
}