html {
  transition: 0.3s ease;
  background: var(--html-bg);
}

header {
  margin-top: 144px;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo {
    display: flex;
    &__title {
      display: flex;
      @include font(700, 26, 1.5);
      color: var(--logo-title);
    }
  }

  .temp__wrap {
    display: flex;
    &-btn {
      display: flex;
      align-items: center;
      justify-content: space-between;
      // max-width: 78px;
      width: fit-content;
      background: none;
      border: none;
      cursor: pointer;
      gap: 16px;
      transition: 0.3s ease;

      &-text {
        @include font(700, 13, 1.5);
        color: var(--header-btn);
        letter-spacing: 2.5px;
        text-transform: uppercase;
      }
      &-icon {
        display: inline-flex;
        width: 20px;
        height: 20px;
        flex-shrink: 0;
        background: var(--header-btn-icon);
      }
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin-top: 36px;

  .search__bloc {
    display: flex;
    &-form {
      display: flex;
      position: relative;
      width: 100%;
      max-width: 730px;

      &-input {
        display: flex;
        width: 100%;
        box-shadow: var(--search-input-drop-shadow);
        border: none;
        background-color: var(--search-input-bg);
        border-radius: 6px;
        padding: 22px 120px 22px 80px;
        
        @include font(400, 18, 1.5);
        color: var(--search__bloc-input);

        &:focus {
          border: none;
          outline: none;
        }
        &::placeholder {
          @include font(400, 18, 1.5);
          color: var(--search__bloc-input);
        }
      }
      &-icon{
        display: flex;
        position: absolute;
        width: 24px;
        height: 24px;
        flex-shrink: 0;
        top: 23px;
        left: 32px;
        img{
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
      &-btn{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #0079FF;
        padding: 12px 24px;
        border-radius: 4px;
        cursor: pointer;
        border: none;

        color: #FFFFFF;
        @include font(700, 16, 1.5);

        right: 10px;
        top: 50%;
        transform: translateY(-50%);

      }
      .no{
        color: #F74646;
        @include font(700, 15, 1.5);
        display: none;
        position: absolute;
        right: 140px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  .user__info{
    .card{
      display: flex;
      align-items: start;
      gap: 37px;
      padding: 48px;
      background: var(--search-input-bg);
      border-radius: 6px;
      box-shadow: var(--user-info-drop-shadov);
    }
    &-avatar{
      width: 117px;
      height: 117px;
      // overflow: hidden;
      flex-shrink: 0;
      img{
        border-radius: 50%;
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    &-desc{
      display: flex;
      flex-direction: column;
      width: 100%;
      &-hero{
        display: flex;
        flex-direction: column;
        .user{
          display: flex;
          align-items: center;
          justify-content: space-between;
          &__name{
            @include font(700, 26, 1.5);
            color: var(--user-name);
          }
          &__date{
            @include font(400, 15, 1.5);
            color: var(--user-date);
          }
        }
        .user__email{
          @include font(400, 16, 1.5);
          color: #0079FF;
          padding: 2px 0 20px;
        }
        .user__bio{
          @include font(400, 15, 1.5);
          color: var(--user-bio);
        }
      }

      &-posts{
        width: 100%;
        padding: 15px 83px 17px 32px;
        border-radius: 6px;
        background-color: var(--user__info-desc-posts);
        margin: 32px 0 37px;
        // display: grid;
        // grid-template-columns: repeat(3, 1fr);
        // gap: 50px;
        display: flex;
        align-items: start;
        justify-content: space-between;

        ul{
          display: flex;
          flex-direction: column;
          gap: 1px;
          align-items: start;
          justify-content: center;
          li{
            .post-name{
              @include font(400, 13, 1.5);
              color: var(--search__bloc-input);
            }
            .post-num{
              @include font(700, 22, 1.5);
              color: var(--user-name);
            }
          }
        }
      }

      &-link{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 19px;
        column-gap: 62px;
        width: 100%;
        
        // display: flex;
        // justify-content: space-between;
        // align-items: center;

        .user__info-desc-link-text{
          @include font(400, 15, 1.5);
          color: var(--user-bio);
        }

        .location{
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: fit-content;
          gap: 16px;
          &__icon{
            display: flex;
            width: 20px;
            height: 20px;
            flex-shrink: 0;
            object-fit: contain;
            background: var(--location__icon);
          }
        }

        .url{
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: fit-content;
          gap: 16px;
          &__icon{
            display: flex;
            width: 20px;
            height: 20px;
            flex-shrink: 0;
            object-fit: contain;
            background: var(--url__icon);
          }
        }

        .twitter{
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: fit-content;
          gap: 16px;
          &__icon{
            display: flex;
            width: 20px;
            height: 20px;
            flex-shrink: 0;
            object-fit: contain;
            background: var(--twitter__icon);
          }
        }

        .office-builder{
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: fit-content;
          gap: 16px;
          &__icon{
            display: flex;
            width: 20px;
            height: 20px;
            flex-shrink: 0;
            object-fit: contain;
            background: var(--office-builder__icon);
          }
        }
      }
    }
  }
}
